<% layout('layouts/boilerplate') -%>

<% var item = 0; %>
<div class="container d-flex justify-content-start">
    <ul class="list-group">
        <li class="list-group-item">Lote: <%= lote  %></li>
        <li class="list-group-item">Total Bines: <%=totalBines%></li>
        <li class="list-group-item">Libraje Total: <%= totalRemitido %></li>
      </ul>
      
</div> 
 
<h1 class="text-center mb-5">INGRESO MP - BRISAS  LOTE: <%= lote  %> </h1>
<div class="grid-ingreso w-100">
    <span class="item border border-dark py-1 text-center">item</span>
    <span class="lote border border-dark py-1  text-center">lote</span>
    <span class="proveedor border border-dark py-1  text-center">proveedor</span>
    <span class="piscina border border-dark py-1  text-center">piscina</span>
    <span class="llegada border border-dark py-1  text-center">llegada</span>
    <span class="bines border border-dark py-1  text-center">#Bines</span> 
    <span class="libras border border-dark py-1 text-center">Libras</span>
</div>
<%for (let ingreso of ingresos) {%>
    <%     
    item += 1
    %> <div class="grid-ingreso w-100">
        <span class="item border border-dark py-1  text-center"><a href="/show/<%=ingreso._id%>"><%=item%></a></span>
        <span class="lote border border-dark py-1  text-center" ><a href="/lote/<%= ingreso.lote %>"><%=ingreso.lote%></a></span>
        <span class="proveedor border border-dark py-1 text-center"><%=ingreso.proveedor%></span>
        <span class="piscina border border-dark py-1  text-center" ><%=ingreso.piscina%></span>
        <span class="llegada border border-dark py-1  text-center" ><%=ingreso.llegada%></span>
        <span class="bines border border-dark py-1  text-center"><%=ingreso.numeroBines%></span> 
        <span class="libras border border-dark py-1 text-center" ><%=ingreso.remitido%></span>
    </div>
   
              
    <% } %> 

    <a type="button" class="btn btn-secondary my-3" href="/bitacora">BACK</a>