<% layout('layouts/boilerplate') -%>

<% var item = 0; %> 

<h1 class="text-center mb-5">INGRESO MP - BRISAS  LOTE: <%= ingreso.lote  %> </h1>
<div class="grid-ingreso w-100">
    <span class="item border border-dark py-1 text-center">item</span>
    <span class="lote border border-dark py-1  text-center">lote</span>
    <span class="proveedor border border-dark py-1  text-center">proveedor</span>
    <span class="piscina border border-dark py-1  text-center">piscina</span>
    <span class="llegada border border-dark py-1  text-center">llegada</span>
    <span class="bines border border-dark py-1  text-center">#Bines</span> 
    <span class="libras border border-dark py-1 text-center">Libras</span>
</div>
    <% 
    item += 1
    %> <div class="grid-ingreso w-100 mb-1">
        <span class="item border border-dark py-1 px-3 text-center"><%=item%></span>
        <span class="lote border border-dark py-1 px-3 text-center" ><a href="/show/<%=ingreso.lote %>"><%=ingreso.lote%></a></span>
        <span class="proveedor border border-dark py-1  text-center"><%=ingreso.proveedor%></span>
        <span class="piscina border border-dark py-1  text-center" ><%=ingreso.piscina%></span>
        <span class="llegada border border-dark py-1  text-center" ><%=ingreso.llegada%></span>
        <span class="bines border border-dark py-1  text-center"><%=ingreso.numeroBines%></span> 
        <span class="libras border border-dark py-1  text-center" ><%=ingreso.remitido%></span>
    </div>
    <div class="container d-flex">
        <a type="button" class="btn btn-secondary mx-1" href="/bitacora">BACK</a>
        <a type="button" class="btn btn-primary mx-1" href="/update/<%=ingreso._id%>">EDIT</a>
        <form class="mx-3" action="/delete/<%=ingreso._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form></div>
    
    
    </button>