<% layout('layouts/boilerplate') -%>
    <h2>Editar ingreso</h2>
    <form action='/ingreso/update/<%= ingreso._id%>?_method=PUT' method="post">
        <label for="lote">Lote:
            <input type="number" name="lote" value="<%= ingreso.lote  %>">
        </label>
    
    <label for="proveedor">
        Razon Social:
        <input type="text" name="proveedor" value="<%= ingreso.proveedor  %>">
    </label>
    <label for="piscina">
        Piscina:
        <input type="text" name="piscina" value="<%= ingreso.piscina  %>">
    </label>
    <label for="fecha">
        <input type="date" name="fecha" value="<%=fecha%>">  
    </label>
    <label for="llegada">
        Hora Llegada:
        <input type="time" name="llegada" value="<%= llegada %>">
    </label>
    <label for="numeroBines">
        Numero de Bines/Gavetas:
        <input type="number" name="numeroBines" value="<%= ingreso.numeroBines  %>">
    </label>
    <label for="remitido">
        Libraje:
        <input type="number" name="remitido" value="<%= ingreso.remitido  %>">
    </label>
    
    <button>Actualizar</button>
    
    </form>


        
        
</body>
</html>